<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/gms</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
   		
   		<mapping resource="com/gms/pos/Announcement.hbm.xml" />
   		<mapping resource="com/gms/pos/Competition.hbm.xml" />
   		<mapping resource="com/gms/pos/Competitioncomment.hbm.xml" />
   		<mapping resource="com/gms/pos/Competitioncost.hbm.xml" />
   		<mapping resource="com/gms/pos/Competitionreply.hbm.xml" />
   		<mapping resource="com/gms/pos/Competitionresult.hbm.xml" />
   		<mapping resource="com/gms/pos/Competitiontype.hbm.xml" />
   		<mapping resource="com/gms/pos/Equipment.hbm.xml" />
   		<mapping resource="com/gms/pos/Equipmentrent.hbm.xml" />
   		<mapping resource="com/gms/pos/Equitmentsuse.hbm.xml" />
   		<mapping resource="com/gms/pos/Fieldinfo.hbm.xml" />
   		<mapping resource="com/gms/pos/Filedrentinfo.hbm.xml" />
   		<mapping resource="com/gms/pos/Roleinfo.hbm.xml" />
   		<mapping resource="com/gms/pos/Spacesuse.hbm.xml" />
   		<mapping resource="com/gms/pos/Userinfo.hbm.xml" />
    </session-factory>
</hibernate-configuration>
