<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/gms</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
   		
   		<mapping resource="com/gms/po/Announcement.hbm.xml" />
   		<mapping resource="com/gms/po/Competition.hbm.xml" />
   		<mapping resource="com/gms/po/Competitioncomment.hbm.xml" />
   		<mapping resource="com/gms/po/Competitioncost.hbm.xml" />
   		<mapping resource="com/gms/po/Competitionreply.hbm.xml" />
   		<mapping resource="com/gms/po/Competitionresult.hbm.xml" />
   		<mapping resource="com/gms/po/Competitiontype.hbm.xml" />
   		<mapping resource="com/gms/po/Equipment.hbm.xml" />
   		<mapping resource="com/gms/po/Equipmentrent.hbm.xml" />
   		<mapping resource="com/gms/po/Equitmentsuse.hbm.xml" />
   		<mapping resource="com/gms/po/Fieldinfo.hbm.xml" />
   		<mapping resource="com/gms/po/Filedrentinfo.hbm.xml" />
   		<mapping resource="com/gms/po/Fieldtype.hbm.xml" />
   		<mapping resource="com/gms/po/Roleinfo.hbm.xml" />
   		<mapping resource="com/gms/po/Spacesuse.hbm.xml" />
   		<mapping resource="com/gms/po/Userinfo.hbm.xml" />
   		<mapping resource="com/gms/po/Userinfo.hbm.xml" />
   		
    </session-factory>
</hibernate-configuration>
