<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 数据源配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
	    destroy-method="close">
	    <property name="driverClass" value="com.mysql.jdbc.Driver"/>
	    <property name="jdbcUrl" value="jdbc:mysql:///gms"/>
	    <property name="user" value="root"/>
	    <property name="password" value="123456"/>
	    <property name="maxPoolSize" value="40"/>
	    <property name="minPoolSize" value="1"/>
	    <property name="initialPoolSize" value="1"/>
	    <property name="maxIdleTime" value="20"/>
	</bean>
	<!-- Hibernate的SessionFactory相关配置 -->
	<bean id="sessionFactory"
	    class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="hibernateProperties">
	        <value>
	            hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
	            hibernate.show_sql=true
	            hibernate.hbm2ddl.auto=update
	        </value>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/gms/po/Announcement.hbm.xml</value>
                <value>com/gms/po/Competition.hbm.xml</value>
                <value>com/gms/po/Competitioncomment.hbm.xml</value>
                <value>com/gms/po/Competitioncost.hbm.xml</value>
                <value>com/gms/po/Competitionreply.hbm.xml</value>
                <value>com/gms/po/Competitionresult.hbm.xml</value>
                <value>com/gms/po/Competitiontype.hbm.xml</value>
                <value>com/gms/po/Equipment.hbm.xml</value>
                <value>com/gms/po/Equipmentrent.hbm.xml</value>
                <value>com/gms/po/Equitmentsuse.hbm.xml</value>
                <value>com/gms/po/Fieldinfo.hbm.xml</value>
                <value>com/gms/po/Fieldrentinfo.hbm.xml</value>
                <value>com/gms/po/Fieldtype.hbm.xml</value>
                <value>com/gms/po/Roleinfo.hbm.xml</value>
                <value>com/gms/po/Spacesuse.hbm.xml</value>
                <value>com/gms/po/Userinfo.hbm.xml</value>
            </list>
        </property>
	</bean>
	
	<!-- Dao组件配置 -->
	<bean id="userinfoDao" class="com.gms.dao.impl.UserinfoDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="roleinfoDao" class="com.gms.dao.impl.RoleinfoDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="fieldtypeDao" class="com.gms.dao.impl.FieldtypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="fieldinfoDao" class="com.gms.dao.impl.FieldinfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="fieldrentinfoDao" class="com.gms.dao.impl.FieldrentinfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 业务逻辑组件配置 -->
	<bean id="userinfoService" class="com.gms.service.impl.UserinfoServiceImpl">
	    <property name="userinfodao" ref="userinfoDao"/>
	</bean>
	<bean id="roleinfoService" class="com.gms.service.impl.RoleinfoServiceImpl">
	    <property name="roleinfodao" ref="roleinfoDao"/>
	</bean>
	<bean id="fieldtypeService" class="com.gms.service.impl.FieldtypeServiceImpl">
		<property name="fieldtypeDao" ref="fieldtypeDao"/>
	</bean>
	<bean id="fieldinfoService" class="com.gms.service.impl.FieldinfoServiceImpl">
		<property name="fieldinfoDao" ref="fieldinfoDao"/>
	</bean>
	<bean id="fieldrentinfoService" class="com.gms.service.impl.FieldrentinfoServiceImpl">
		<property name="fieldrentinfoDao" ref="fieldrentinfoDao"/>
	</bean>

	<!-- action类注入配置 -->
	<bean id="fieldtypeAction" class="com.gms.action.FieldtypeAction" scope="prototype">
		<property name="fieldtypeService" ref="fieldtypeService"></property>
	</bean>
	<bean id="fieldinfoAction" class="com.gms.action.FieldinfoAction" scope="prototype">
		<property name="fieldinfoService" ref="fieldinfoService"></property>
		<property name="fieldtypeService" ref="fieldtypeService"></property>
	</bean>
	<bean id="fieldrentAction" class="com.gms.action.FieldrentAction" scope="prototype">
		<property name="fieldrentinfoService" ref="fieldrentinfoService"></property>
	</bean>
</beans>